#### Importation des bibliothèques

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Importation du jeu de données

In [2]:
data = pd.read_csv('Covid Data.csv')

In [3]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,97,2,40,97,2,...,2,2,2,2,2,2,2,2,7,97
1048571,1,13,2,2,9999-99-99,2,2,51,97,2,...,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,9999-99-99,97,2,55,97,2,...,2,2,2,2,2,2,2,2,7,97
1048573,2,13,2,1,9999-99-99,97,2,28,97,2,...,2,2,2,2,2,2,2,2,7,97
1048574,2,13,2,1,9999-99-99,97,2,52,97,2,...,2,2,2,2,2,2,2,2,7,97

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [5]:
data.describe()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,1.632194e+00,8.980565e+00,1.499259e+00,1.190765e+00,7.952288e+01,3.346831e+00,4.179410e+01,4.976558e+01,2.186404e+00,2.260569e+00,2.242626e+00,2.298132e+00,2.128989e+00,2.435143e+00,2.261810e+00,2.125176e+00,2.257180e+00,2.214333e+00,5.305653e+00,7.955397e+01
std,4.822084e-01,3.723278e+00,4.999997e-01,3.929041e-01,3.686889e+01,1.191288e+01,1.690739e+01,4.751073e+01,5.424242e+00,5.132258e+00,5.114089e+00,5.462843e+00,5.236397e+00,6.646676e+00,5.194850e+00,5.175445e+00,5.135354e+00,5.323097e+00,1.881165e+00,3.682307e+01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,9.700000e+01
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,4.000000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00,9.700000e+01
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,9.700000e+01,2.000000e+00,5.300000e+01,9.700000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,9.700000e+01
max,2.000000e+00,1.300000e+01,2.000000e+00,2.000000e+00,9.900000e+01,9.900000e+01,1.210000e+02,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,9.800000e+01,7.000000e+00,9.900000e+01

#### Pretraitement des données

In [7]:
data = data.replace({97: np.nan, 99: np.nan})

In [8]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,NaN,1.0,65.0,2.0,2,...,2,2,1,2,2,2,2,2,3,NaN
1,2,1,2,1,03/06/2020,NaN,1.0,72.0,NaN,2,...,2,2,1,2,2,1,1,2,5,NaN
2,2,1,2,2,09/06/2020,1.0,2.0,55.0,NaN,1,...,2,2,2,2,2,2,2,2,3,2.0
3,2,1,1,1,12/06/2020,NaN,2.0,53.0,2.0,2,...,2,2,2,2,2,2,2,2,7,NaN
4,2,1,2,1,21/06/2020,NaN,2.0,68.0,NaN,1,...,2,2,1,2,2,2,2,2,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,9999-99-99,NaN,2.0,40.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN
1048571,1,13,2,2,9999-99-99,2.0,2.0,51.0,NaN,2,...,2,2,1,2,2,2,2,2,7,2.0
1048572,2,13,2,1,9999-99-99,NaN,2.0,55.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN
1048573,2,13,2,1,9999-99-99,NaN,2.0,28.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN
1048574,2,13,2,1,9999-99-99,NaN,2.0,52.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               192706 non-null   float64
 6   PNEUMONIA             1032572 non-null  float64
 7   AGE                   1048354 non-null  float64
 8   PREGNANT              525064 non-null   float64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   192543 non-null   float64
dtypes: float64(5), int64(15), object(1)
memory usage: 168.0+ MB

In [11]:
data['SEX'].value_counts()

SEX
1    525064
2    523511
Name: count, dtype: int64

In [12]:
data.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [13]:
data['SEX'] = data['SEX'].replace({1: 'FEMME', 2: 'HOMME'})

In [14]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,FEMME,1,03/05/2020,NaN,1.0,65.0,2.0,2,...,2,2,1,2,2,2,2,2,3,NaN
1,2,1,HOMME,1,03/06/2020,NaN,1.0,72.0,NaN,2,...,2,2,1,2,2,1,1,2,5,NaN
2,2,1,HOMME,2,09/06/2020,1.0,2.0,55.0,NaN,1,...,2,2,2,2,2,2,2,2,3,2.0
3,2,1,FEMME,1,12/06/2020,NaN,2.0,53.0,2.0,2,...,2,2,2,2,2,2,2,2,7,NaN
4,2,1,HOMME,1,21/06/2020,NaN,2.0,68.0,NaN,1,...,2,2,1,2,2,2,2,2,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,HOMME,1,9999-99-99,NaN,2.0,40.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN
1048571,1,13,HOMME,2,9999-99-99,2.0,2.0,51.0,NaN,2,...,2,2,1,2,2,2,2,2,7,2.0
1048572,2,13,HOMME,1,9999-99-99,NaN,2.0,55.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN
1048573,2,13,HOMME,1,9999-99-99,NaN,2.0,28.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN
1048574,2,13,HOMME,1,9999-99-99,NaN,2.0,52.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN

In [17]:
data['CLASIFFICATION_FINAL'][data['CLASIFFICATION_FINAL'] < 4] = 'POSITIVE'

/tmp/ipykernel_44554/2546628513.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data['CLASIFFICATION_FINAL'][data['CLASIFFICATION_FINAL'] < 4] = 'POSITIVE'
/tmp/ipykernel_44554/2546628513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['CLASIFFICATION_FINAL'][data['CLASIFFICATION_FINAL'] < 4] = 'POSITIVE'
/tmp/ipykernel_44554/2546628513.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'POSITIVE' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data['CLASIFFICATION_FINAL'][data['CLASIFFICATION_FINAL'] < 4] = 'POSITIVE'

In [18]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,FEMME,1,03/05/2020,NaN,1.0,65.0,2.0,2,...,2,2,1,2,2,2,2,2,POSITIVE,NaN
1,2,1,HOMME,1,03/06/2020,NaN,1.0,72.0,NaN,2,...,2,2,1,2,2,1,1,2,5,NaN
2,2,1,HOMME,2,09/06/2020,1.0,2.0,55.0,NaN,1,...,2,2,2,2,2,2,2,2,POSITIVE,2.0
3,2,1,FEMME,1,12/06/2020,NaN,2.0,53.0,2.0,2,...,2,2,2,2,2,2,2,2,7,NaN
4,2,1,HOMME,1,21/06/2020,NaN,2.0,68.0,NaN,1,...,2,2,1,2,2,2,2,2,POSITIVE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,HOMME,1,9999-99-99,NaN,2.0,40.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN
1048571,1,13,HOMME,2,9999-99-99,2.0,2.0,51.0,NaN,2,...,2,2,1,2,2,2,2,2,7,2.0
1048572,2,13,HOMME,1,9999-99-99,NaN,2.0,55.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN
1048573,2,13,HOMME,1,9999-99-99,NaN,2.0,28.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN
1048574,2,13,HOMME,1,9999-99-99,NaN,2.0,52.0,NaN,2,...,2,2,2,2,2,2,2,2,7,NaN

In [19]:
data['CLASIFFICATION_FINAL'][data['CLASIFFICATION_FINAL'] != 'POSITIVE'] = 'NEGATIVE'

In [20]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,FEMME,1,03/05/2020,NaN,1.0,65.0,2.0,2,...,2,2,1,2,2,2,2,2,POSITIVE,NaN
1,2,1,HOMME,1,03/06/2020,NaN,1.0,72.0,NaN,2,...,2,2,1,2,2,1,1,2,NEGATIVE,NaN
2,2,1,HOMME,2,09/06/2020,1.0,2.0,55.0,NaN,1,...,2,2,2,2,2,2,2,2,POSITIVE,2.0
3,2,1,FEMME,1,12/06/2020,NaN,2.0,53.0,2.0,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN
4,2,1,HOMME,1,21/06/2020,NaN,2.0,68.0,NaN,1,...,2,2,1,2,2,2,2,2,POSITIVE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,HOMME,1,9999-99-99,NaN,2.0,40.0,NaN,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN
1048571,1,13,HOMME,2,9999-99-99,2.0,2.0,51.0,NaN,2,...,2,2,1,2,2,2,2,2,NEGATIVE,2.0
1048572,2,13,HOMME,1,9999-99-99,NaN,2.0,55.0,NaN,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN
1048573,2,13,HOMME,1,9999-99-99,NaN,2.0,28.0,NaN,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN
1048574,2,13,HOMME,1,9999-99-99,NaN,2.0,52.0,NaN,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN

In [21]:
data['PATIENT_TYPE'].replace({1:'DOMICILE', 2: 'HOSPITALISATION'}, inplace=True)

/tmp/ipykernel_44554/3335808778.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['PATIENT_TYPE'].replace({1:'DOMICILE', 2: 'HOSPITALISATION'}, inplace=True)

In [22]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,FEMME,DOMICILE,03/05/2020,NaN,1.0,65.0,2.0,2,...,2,2,1,2,2,2,2,2,POSITIVE,NaN
1,2,1,HOMME,DOMICILE,03/06/2020,NaN,1.0,72.0,NaN,2,...,2,2,1,2,2,1,1,2,NEGATIVE,NaN
2,2,1,HOMME,HOSPITALISATION,09/06/2020,1.0,2.0,55.0,NaN,1,...,2,2,2,2,2,2,2,2,POSITIVE,2.0
3,2,1,FEMME,DOMICILE,12/06/2020,NaN,2.0,53.0,2.0,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN
4,2,1,HOMME,DOMICILE,21/06/2020,NaN,2.0,68.0,NaN,1,...,2,2,1,2,2,2,2,2,POSITIVE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,HOMME,DOMICILE,9999-99-99,NaN,2.0,40.0,NaN,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN
1048571,1,13,HOMME,HOSPITALISATION,9999-99-99,2.0,2.0,51.0,NaN,2,...,2,2,1,2,2,2,2,2,NEGATIVE,2.0
1048572,2,13,HOMME,DOMICILE,9999-99-99,NaN,2.0,55.0,NaN,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN
1048573,2,13,HOMME,DOMICILE,9999-99-99,NaN,2.0,28.0,NaN,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN
1048574,2,13,HOMME,DOMICILE,9999-99-99,NaN,2.0,52.0,NaN,2,...,2,2,2,2,2,2,2,2,NEGATIVE,NaN

In [23]:
data.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

In [26]:
data[['PNEUMONIA', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO']] = data[['PNEUMONIA', 'PREGNANT','DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO']].replace({1:'OUI', 2:'NON'})

In [27]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,FEMME,DOMICILE,03/05/2020,NaN,OUI,65.0,NON,NON,...,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE,NaN
1,2,1,HOMME,DOMICILE,03/06/2020,NaN,OUI,72.0,NaN,NON,...,NON,NON,OUI,NON,NON,OUI,OUI,NON,NEGATIVE,NaN
2,2,1,HOMME,HOSPITALISATION,09/06/2020,1.0,NON,55.0,NaN,OUI,...,NON,NON,NON,NON,NON,NON,NON,NON,POSITIVE,2.0
3,2,1,FEMME,DOMICILE,12/06/2020,NaN,NON,53.0,NON,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
4,2,1,HOMME,DOMICILE,21/06/2020,NaN,NON,68.0,NaN,OUI,...,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,HOMME,DOMICILE,9999-99-99,NaN,NON,40.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
1048571,1,13,HOMME,HOSPITALISATION,9999-99-99,2.0,NON,51.0,NaN,NON,...,NON,NON,OUI,NON,NON,NON,NON,NON,NEGATIVE,2.0
1048572,2,13,HOMME,DOMICILE,9999-99-99,NaN,NON,55.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
1048573,2,13,HOMME,DOMICILE,9999-99-99,NaN,NON,28.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
1048574,2,13,HOMME,DOMICILE,9999-99-99,NaN,NON,52.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN

In [28]:
data['DATE_DIED'].replace({'9999-99-99': 'NON'}, inplace=True)

In [29]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,FEMME,DOMICILE,03/05/2020,NaN,OUI,65.0,NON,NON,...,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE,NaN
1,2,1,HOMME,DOMICILE,03/06/2020,NaN,OUI,72.0,NaN,NON,...,NON,NON,OUI,NON,NON,OUI,OUI,NON,NEGATIVE,NaN
2,2,1,HOMME,HOSPITALISATION,09/06/2020,1.0,NON,55.0,NaN,OUI,...,NON,NON,NON,NON,NON,NON,NON,NON,POSITIVE,2.0
3,2,1,FEMME,DOMICILE,12/06/2020,NaN,NON,53.0,NON,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
4,2,1,HOMME,DOMICILE,21/06/2020,NaN,NON,68.0,NaN,OUI,...,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,HOMME,DOMICILE,NON,NaN,NON,40.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
1048571,1,13,HOMME,HOSPITALISATION,NON,2.0,NON,51.0,NaN,NON,...,NON,NON,OUI,NON,NON,NON,NON,NON,NEGATIVE,2.0
1048572,2,13,HOMME,DOMICILE,NON,NaN,NON,55.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
1048573,2,13,HOMME,DOMICILE,NON,NaN,NON,28.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
1048574,2,13,HOMME,DOMICILE,NON,NaN,NON,52.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN

In [30]:
data['DATE_DIED'][data['DATE_DIED'] != 'NON'] = 'OUI'

In [31]:
data

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,FEMME,DOMICILE,OUI,NaN,OUI,65.0,NON,NON,...,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE,NaN
1,2,1,HOMME,DOMICILE,OUI,NaN,OUI,72.0,NaN,NON,...,NON,NON,OUI,NON,NON,OUI,OUI,NON,NEGATIVE,NaN
2,2,1,HOMME,HOSPITALISATION,OUI,1.0,NON,55.0,NaN,OUI,...,NON,NON,NON,NON,NON,NON,NON,NON,POSITIVE,2.0
3,2,1,FEMME,DOMICILE,OUI,NaN,NON,53.0,NON,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
4,2,1,HOMME,DOMICILE,OUI,NaN,NON,68.0,NaN,OUI,...,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,HOMME,DOMICILE,NON,NaN,NON,40.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
1048571,1,13,HOMME,HOSPITALISATION,NON,2.0,NON,51.0,NaN,NON,...,NON,NON,OUI,NON,NON,NON,NON,NON,NEGATIVE,2.0
1048572,2,13,HOMME,DOMICILE,NON,NaN,NON,55.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
1048573,2,13,HOMME,DOMICILE,NON,NaN,NON,28.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN
1048574,2,13,HOMME,DOMICILE,NON,NaN,NON,52.0,NaN,NON,...,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE,NaN

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  object
 3   PATIENT_TYPE          1048575 non-null  object
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               192706 non-null   float64
 6   PNEUMONIA             1032572 non-null  object
 7   AGE                   1048354 non-null  float64
 8   PREGNANT              525064 non-null   object
 9   DIABETES              1048575 non-null  object
 10  COPD                  1048575 non-null  object
 11  ASTHMA                1048575 non-null  object
 12  INMSUPR               1048575 non-null  object
 13  HIPERTENSION          1048575 non-null  object
 14  OTHER_DISEASE         1048575 non-null  object
 15  CARDIOVASCULAR        1048575 non-null  object
 16  OBESITY               1048575 non-null  object
 17  RENAL_CHRONIC         1048575 non-null  object
 18  TOBACCO               1048575 non-null  object
 19  CLASIFFICATION_FINAL  1048575 non-null  object
 20  ICU                   192543 non-null   float64
dtypes: float64(3), int64(2), object(16)
memory usage: 168.0+ MB

In [33]:
data = data.drop(['INTUBED', 'MEDICAL_UNIT', 'ICU', 'USMER'], axis = 1)

In [34]:
data

,SEX,PATIENT_TYPE,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,FEMME,DOMICILE,OUI,OUI,65.0,NON,NON,NON,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE
1,HOMME,DOMICILE,OUI,OUI,72.0,NaN,NON,NON,NON,NON,OUI,NON,NON,OUI,OUI,NON,NEGATIVE
2,HOMME,HOSPITALISATION,OUI,NON,55.0,NaN,OUI,NON,NON,NON,NON,NON,NON,NON,NON,NON,POSITIVE
3,FEMME,DOMICILE,OUI,NON,53.0,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE
4,HOMME,DOMICILE,OUI,NON,68.0,NaN,OUI,NON,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,HOMME,DOMICILE,NON,NON,40.0,NaN,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE
1048571,HOMME,HOSPITALISATION,NON,NON,51.0,NaN,NON,NON,NON,NON,OUI,NON,NON,NON,NON,NON,NEGATIVE
1048572,HOMME,DOMICILE,NON,NON,55.0,NaN,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE
1048573,HOMME,DOMICILE,NON,NON,28.0,NaN,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE
1048574,HOMME,DOMICILE,NON,NON,52.0,NaN,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE

In [36]:
data['PNEUMONIA'].value_counts()

PNEUMONIA
NON    892534
OUI    140038
Name: count, dtype: int64

In [37]:
data = data.dropna(subset=['PNEUMONIA'])

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1032361 entries, 0 to 1048574
Data columns (total 17 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   SEX                   1032361 non-null  object
 1   PATIENT_TYPE          1032361 non-null  object
 2   DATE_DIED             1032361 non-null  object
 3   PNEUMONIA             1032361 non-null  object
 4   AGE                   1032361 non-null  float64
 5   PREGNANT              516300 non-null   object
 6   DIABETES              1032361 non-null  object
 7   COPD                  1032361 non-null  object
 8   ASTHMA                1032361 non-null  object
 9   INMSUPR               1032361 non-null  object
 10  HIPERTENSION          1032361 non-null  object
 11  OTHER_DISEASE         1032361 non-null  object
 12  CARDIOVASCULAR        1032361 non-null  object
 13  OBESITY               1032361 non-null  object
 14  RENAL_CHRONIC         1032361 non-null  object
 15  TOBACCO               1032361 non-null  object
 16  CLASIFFICATION_FINAL  1032361 non-null  object
dtypes: float64(1), object(16)
memory usage: 141.8+ MB

In [40]:
data = data.dropna(subset=['AGE'])

In [43]:
data.describe(include='object')

,SEX,PATIENT_TYPE,DATE_DIED,PNEUMONIA,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
count,1032361,1032361,1032361,1032361,516300,1032361,1032361,1032361,1032361,1032361,1032361,1032361,1032361,1032361,1032361,1032361
unique,2,2,2,2,3,3,3,3,3,3,3,3,3,3,3,2
top,FEMME,DOMICILE,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE
freq,516300,837588,956221,892397,505042,905678,1014871,998736,1015261,868606,1000124,1008982,871250,1010860,945948,640461

In [44]:
data

,SEX,PATIENT_TYPE,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,FEMME,DOMICILE,OUI,OUI,65.0,NON,NON,NON,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE
1,HOMME,DOMICILE,OUI,OUI,72.0,NaN,NON,NON,NON,NON,OUI,NON,NON,OUI,OUI,NON,NEGATIVE
2,HOMME,HOSPITALISATION,OUI,NON,55.0,NaN,OUI,NON,NON,NON,NON,NON,NON,NON,NON,NON,POSITIVE
3,FEMME,DOMICILE,OUI,NON,53.0,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE
4,HOMME,DOMICILE,OUI,NON,68.0,NaN,OUI,NON,NON,NON,OUI,NON,NON,NON,NON,NON,POSITIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,HOMME,DOMICILE,NON,NON,40.0,NaN,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE
1048571,HOMME,HOSPITALISATION,NON,NON,51.0,NaN,NON,NON,NON,NON,OUI,NON,NON,NON,NON,NON,NEGATIVE
1048572,HOMME,DOMICILE,NON,NON,55.0,NaN,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE
1048573,HOMME,DOMICILE,NON,NON,28.0,NaN,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE
1048574,HOMME,DOMICILE,NON,NON,52.0,NaN,NON,NON,NON,NON,NON,NON,NON,NON,NON,NON,NEGATIVE